In [2]:
import pandas as pd

![lapata dataset.png](lapatadataset.png)

In [3]:
df = pd.read_csv('k_means_output.csv')

In [4]:
lat_min, lat_max = df['latitude'].min(), df['latitude'].max()
lon_min, lon_max = df['longitude'].min(), df['longitude'].max()
freq_min, freq_max = df['frequency'].min(), df['frequency'].max()
lat_min , lat_max
lon_min , lon_max
freq_min , freq_max

(0.0, 1.0)

In [5]:
# Normalize the latitude and longitude columns
df['latitude'] = (df['latitude'] - lat_min) / (lat_max - lat_min)
df['longitude'] = (df['longitude'] - lon_min) / (lon_max - lon_min)
df['frequency'] = (df['frequency'] - freq_min) / (freq_max - freq_min)

In [6]:
df.to_csv('normalized_dataset.csv', index=False)

In [7]:
df

                location  frequency  latitude  longitude  Cluster
0            azad maidan   0.000000  0.071301   0.234205        3
1                 bandra   0.432432  0.415871   0.265475        2
2               bhoiwada   0.027027  0.315334   0.367581        3
3                    bkc   0.243243  0.453759   0.403957        2
4               borivali   0.270270  0.937053   0.374601        4
5                byculla   0.000000  0.184666   0.216337        3
6                chembur   0.729730  0.439439   0.654116        1
7            chunabhatti   0.000000  0.397375   0.548181        2
8                 colaba   0.054054  0.000000   0.173580        3
9               d.b.marg   0.027027  0.083234   0.230377        3
10                 dadar   0.675676  0.311158   0.279515        1
11               dahisar   0.243243  1.000000   0.388641        4
12                deonar   0.000000  0.406921   0.677090        0
13               dharavi   0.081081  0.369928   0.362476        2
14              dindoshi   0.216216  0.767601   0.406509        4
15             ghatkopar   0.108108  0.511635   0.698149        0
16              goregaon   0.513514  0.744630   0.323548        4
17            jogeshwari   0.297297  0.656026   0.320357        4
18             kalbadevi   0.054054  0.103520   0.209317        3
19             kandivali   0.189189  0.875298   0.278239        4
20            kanjurmarg   0.000000  0.645585   0.825782        0
21                 kurla   0.297297  0.483890   0.514997        2
22                 mahim   0.054054  0.360680   0.266114        3
23                 malad   0.540541  0.810561   0.319081        4
24            malbarhill   0.000000  0.128878   0.000000        3
25              mankhurd   0.162162  0.398568   0.892151        0
26           marinedrive   0.000000  0.088604   0.160817        3
27               matunga   0.351351  0.334129   0.362476        2
28                   MHB   0.000000  0.794153   0.283344        4
29                  MIDC   0.324324  0.606504   0.422463        2
30                mulund   0.351351  0.766110   1.000000        0
31            D.N. nagar   1.000000  0.640513   0.195916        1
32               nagpada   0.054054  0.159010   0.178047        3
33              oshiwara   0.189189  0.713007   0.289087        4
34                 powai   0.243243  0.607697   0.693682        0
35              pydhunie   0.108108  0.117243   0.221442        3
36  sahar police station   0.405405  0.552804   0.405871        2
37              sakinaka   0.216216  0.553699   0.589662        0
38            samtanagar   0.270270  0.878580   0.372687        4
39             Santacruz   0.432432  0.497613   0.274410        2
40                tardeo   0.297297  0.166468   0.095086        3
41               Trombey   0.000000  0.463902   0.098915        3
42                vakola   0.243243  0.491647   0.355456        2
43              vikhroli   0.189189  0.607697   0.828334        0
44                wadala   0.081081  0.328162   0.417358        2
45                 worli   0.216216  0.288484   0.126356        3